.flag {
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

.yellow {
    background-color: #FCD116;
    height: 50%;
}

.blue {
    background-color: #003893;
    height: 25%;
}

.red {
    background-color: #CE1126;
    height: 25%;
}